body{
    background-color:rgb(40, 43, 48);
}
a{
    color:rgb(245, 245, 220);
    font-family: Arial, Helvetica, sans-serif;
}
label{
    color:rgb(245, 245, 220);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3, h4, td{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(245, 245, 220);
}
h1{
    text-align: center;
    color:rgb(245, 245, 220);
    background-color: rgb(237, 4, 4);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1px;
}
.login-button{
    width: 100px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 100%;
    border: 0px;
    border-radius: 10px;
    transition: background-color 0.1s ease, padding 0.1s ease;
}
.login-button:hover{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.5);
    padding:6px 13px;
    font-size:105%;
}
hr{
    margin-top: 20px;
    margin-bottom: 15px;
}
form{
    text-align: center;
    background-color: rgb(73, 79, 88);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    margin:0 auto;
    border: 0px;
    border-radius: 25px;
}
button{
    width: 100px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 100%;
    border: 0px;
    border-radius: 10px;
    transition: background-color 0.1s ease, padding 0.1s ease;
}
button:hover{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.5);
    padding:6px 13px;
}
.headerimg{
    width: 100%;
    height: 85px;
    margin-top: 10px;
    object-fit: cover;
}
.login{
    background-color: rgb(255, 0, 0);
    padding: 5px 5px;
    border: 5px;
    border-radius: 5px;
    transition: padding 0.2s ease, border 0.2s ease;
}
.login:hover{
    padding: 9px 9px;
    border: 9px;
}
.linkimg{
    height: 75px;
    width: 75px;
    transition: height 1s ease, width 1s ease;
}
.linkimg:hover{
    height: 80;
    width: 80;
}
.tabela-index{
    width: 50%;
    border-collapse:collapse;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
}
.tabela-index thead tr{
    background-color: rgb(73, 79, 88);
    color: rgb(255, 255, 255);
}
.tabela-index thead tr,
.tabela-index tbody td{
    padding: 14px 16px;
    text-align: left;
}
.tabela-index tbody tr{
    border-bottom: 1px solid rgb(245, 245, 220);
    transition: background-color 0.2s ease;
}
.tabela-index tbody tr:nth-child(even){
    background-color: rgb(48, 52, 58);
}
.tabela-index tbody tr:hover{
    background-color: rgb(73, 79, 88);
}
.tabela-index thead th{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.tabela-index thead td{
    color: rgb(73, 79, 88);
}
.tabela-index tbody tr td img{
    max-width: 100px;
}
.tabela-camisa{
    width: 100%;
    border-collapse: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.tabela-camisa thead tr{
    background-color: rgb(73, 79, 88);
    color: rgb(255, 255, 255);
}
.tabela-camisa thead tr,
.tabela-camisa tbody td{
    padding: 5px 5px;
    text-align: center;
    border-right: 1px solid rgb(255, 255, 255);
}
.tabela-camisa tbody tr{
    border-bottom: none;
    transition: background-color 0.2s ease;
}
.tabela-camisa tbody tr:hover{
    background-color: rgb(73, 79, 88);
}
.tabela-camisa thead th{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.tabela-camisa thead td{
    color: rgb(73, 79, 88);
}
.tabela-camisa tbody tr td img{
    max-width: 100%;
}
.camisa{
    height:200px;
    width: 170px;
    object-fit: cover;
}
.tabela-camisa tbody td:last-child{
    border-right: none;
}
.select{
    width: 100px;
    height: 25px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 100%;
    border: 0px;
    border-radius: 10px;
    transition: background-color 0.1s ease, padding 0.1s ease;
}
.select:hover{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.5);
    padding:15px 11px;
}
.welcome{
    text-align: center;
    color:rgb(245, 245, 220);
    background-color: rgb(237, 4, 4);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 1px;
    font-family:'Times New Roman', Times, serif;
}
.tabela-calca{
    width: 100%;
    border-collapse: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.tabela-calca thead tr{
    background-color: rgb(73, 79, 88);
    color: rgb(255, 255, 255);
}
.tabela-calca thead tr,
.tabela-calca tbody td{
    padding: 5px 5px;
    text-align: center;
    border-right: 1px solid rgb(255, 255, 255);
}
.tabela-calca tbody tr{
    border-bottom: none;
    transition: background-color 0.2s ease;
}
.tabela-calca tbody tr:hover{
    background-color: rgb(73, 79, 88);
}
.tabela-calca thead th{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.tabela-calca thead td{
    color: rgb(73, 79, 88);
}
.tabela-calca tbody tr td img{
    max-width: 100%;
}
.calca{
    height:200px;
    width: 170px;
    object-fit: cover;
}
.tabela-calca tbody td:last-child{
    border-right: none;
}
.intro{
    text-align: center;
}
        .bone {
            width: 320px;
            height: auto; 
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
              
        img {
            width: 280px;
            height: 250px;
            margin-top: 10px;
        }

        .nome-produto {
            font-size: 22px;
            font-family: 'Arial Black', Gadget, sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
                        color:rgb(245, 245, 220);
        }

        .preco {
            font-size: 18px;
            margin-bottom: 20px;
            border-top-style:solid;
            border-top-width: 5px;
            border-top-color:rgb(245, 245, 220);
            padding-top: 30px;
                    color:rgb(245, 245, 220);
        }

        .comprar-agora {
            background-color: #ec1a13; 
            color: white;
            padding-left:10px;
            padding-top:10px;
            padding-right:100px;
            padding-bottom: 46px;
            font-size: 18px;
            text-align: center;
            border:0px;
            color:rgb(245, 245, 220);

            
        }
        .carrinho{
             background-color: #ec1a13; 
            color: white;
            padding: 15px 20px;
            font-size: 18px;
            border:auto;
        }

        body {
            font-family: 'Verdana', sans-serif;
            text-align: center;
            margin-top: 50px;
                background-color:rgb(40, 43, 48);
        }

        .bone {
            width: 320px;
            height: auto; 
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
              
        img {
            width: 280px;
            height: 250px;
            margin-top: 10px;
        }

        .nome-produto {
            font-size: 22px;
            font-family: 'Arial Black', Gadget, sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
            color:rgb(245, 245, 220);
        }

        .preco {
            font-size: 18px;
            margin-bottom: 20px;
            border-top-style:solid;
            border-top-width: 5px;
            border-top-color:rgb(245, 245, 220);
            padding-top: 30px;
            color:rgb(245, 245, 220)
        }
        body {
            font-family: Arial, sans-serif;
        background-color:rgb(40, 43, 48);
            padding: 20px;
        }

        table {
            width: 100%;
            background-color: rgb(48, 52, 58);
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid rgb(40, 43, 48);
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: rgb(73, 79, 88);
        }

        /* Estilo dos Links/Botões */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none; 
            border-radius: 5px;
            font-weight: bold;
        }

        .btn-comprar {
            background-color: #28a745;
    color:rgb(245, 245, 220);
        }

        .btn-voltar {
            background-color: rgb(237, 4, 4);
    color:rgb(245, 245, 220);
            margin-right: 10px;
        }
